<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LogisticGiant.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>cocos2d.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D7B6D52313D93F2800D12DB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7B6D54713D93F2800D12DB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7B6D66C13D93FAB00D12DB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7B6D67613D93FAB00D12DB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
